build/dataset/
build/discords/auth.py
build/result/
build/dataset.egg
build/label.csv
CNN/*
!CNN/*.py
filter/*
!filter/*.py
!filter/.gitmodules
!filter/README.md
make_database/labeling/*
!make_database/labeling/*.py
make_database/sort/*
!make_database/sort/*.py
make_database/unsplash-images-crawler-master/*
!make_database/unsplash-images-crawler-master/*.py
make_database/unsplash-images-crawler-master/README.md
music/
retrieval/*
!retrieval/*.py
